---
layout: base.njk
title: home
description: my corner on the internet
permalink: /
---

<section class="relative max-w-3xl mx-auto px-4 py-16 flex flex-col gap-12 justify-between">
    <div class="space-y-4 items-center">
        <div><img width="128" height="128" src="https://l0plmmwpirwi17qf.public.blob.vercel-storage.com/IMG-20251019-WA0061~3.jpg" /></div>
        <p style="text-wrap:pretty;" class=" italic">
            hey, i'm raj, and this corner on the internet is for my obsessions, creations and experiences.
            </br>
            i also go by the alias <b>ravoluzen</b> for all the things i create; from composing music, crafting web interfaces, engineering product experiences, to writings and artworks. 
            </br>
            these days, i have picked up reading blogs and intend to start writing my own.
        </p>
    </div>
    <iframe data-testid="embed-iframe" style="border-radius:12px;" src="https://open.spotify.com/embed/track/4P4VPuHk8zvQ7lZ6fMjDeS?utm_source=generator&theme=0" width="100%" height="132" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</section>


