---
layout: base.njk
title: music
description: music releases and tracks
permalink: /music/
---

<section class="mx-auto py-16 px-4 max-w-4xl">
  <h1 class="text-4xl font-bold mb-12 italic">releases</h1>

  <!-- 2025 Section -->
  <div class="mb-16">
    <div class="text-lg font-semibold mb-8 relative">
      <h2 class="text-2xl">2025</h2>
    </div>
    
    <div class="space-y-12 ml-8 border-l-2 border-black/5 pl-8 p-3">
    <!-- Release 4 -->
      <div class="">
        <h3 class="font-semibold mb-3 text-lg"><b class="italic">life passes by - extended</b></h3>
        <p class="text-sm text-softBlack mb-4"><i>ambient house / r&b </i> - <span class="font-medium">September 11</span></p>
        <div class="space-y-2">
        </div>
        <div class="mt-4">
            <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/track/5pOpnmDc0Gwn1n0mUdjvpE?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
      </div>
      <!-- Release 3 -->
      <div class="">
        <h3 class="font-semibold mb-3 text-lg"><b class="italic">life passes by</b></h3>
        <p class="text-sm text-softBlack mb-4"><i>ambient house / r&b </i> - <span class="font-medium">August 14</span></p>
        <div class="space-y-2">
        </div>
        <div class="mt-4">
            <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/track/4P4VPuHk8zvQ7lZ6fMjDeS?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
      </div>

        <!-- Release 2 -->
        <div class="">
            <h3 class="font-semibold mb-3 text-lg"><b class="italic">no bacardi</b></h3>
            <p class="text-sm text-softBlack mb-4"><i>rap / electro house / dubstep</i> - <span class="font-medium">April 12</span></p>
            <div class="space-y-2">
            </div>
            <div class="mt-4">
                <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/track/7L6DGES0tSYrdIMhe3V5GD?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
      </div>
        <!-- Release 1 -->
        <div class="">
            <h3 class="font-semibold mb-3 text-lg"><b class="italic">emergence</b></h3>
            <p class="text-sm text-softBlack mb-4"><i>electro house / progressive house</i> - <span class="font-medium">January</span> 15</p>
            <div class="space-y-2">
            </div>
            <div class="mt-4">
                <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/track/2Hr7tsRuF7HX7vV8phjVkk?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    <div class="mt-6">
    For my music prior to this period, check out:
    <a class="underline underline-offset-2 italic" href="https://instagram.com/ravoluzen" target="_blank" referrerpolicy="no-referrer">instagram</a>
    or
    <a class="underline underline-offset-2 italic" href="https://youtube.com/@ravoluzen" target="_blank" referrerpolicy="no-referrer">youtube</a>

    </div>
  </div>

</section>
